<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Thank you for visiting us !</h2>
    <p>you can send multiple emails from this app very easily and quickly.</p>

    <h1>Some key points:</h1>
    <p>Before sending the mails make sure thes key points</p>
    <ol>
        <li>Rule 1</li>
        <li>Rule 2</li>
        <li>Rule 3</li>
        <li>Rule 4</li>
        <li>Rule 5</li>
        <li>Rule 6</li>
    </ol>


    <p>Thank you !</p>
</body>
</html>